@tailwind base;       
@tailwind components; 
@tailwind utilities;  

@layer base {
  html {
    font-size: 16px; /* 1rem = 16px */
  }
  
  body {
    @apply bg-dark-bg text-white font-sans;
  }
}

@layer components {

  .btn-primary {
    @apply px-6 py-2.5 bg-gradient-to-r from-primary-500 to-secondary-500 
           text-white font-bold rounded-lg 
           transition-all duration-200 
           hover:scale-105 hover:shadow-lg hover:shadow-primary-500/30
           cursor-pointer border-none;
  }
  
  
  .card {
    @apply bg-dark-card rounded-xl p-4 
           border-2 border-dark-border 
           transition-all duration-200 
           hover:-translate-y-1 
           hover:shadow-md hover:shadow-primary-500/10;
  }
}
